.menu {
    position:  sticky;
    top: 0;
    background-color: #111418;
    color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.menu a {
    color: white;
}

.profile {
    order: 1;
}
.profile-picture{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #20c997;
}
.profile-name {
    font-size: 1.5rem;
}
.nav {
    order: 4;
    width: 100%;
    list-style: none;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
}
.nav.open{
    height: 240px;
}
.nav ul {
    list-style: none;
    padding-inline-start: 20px;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem;
    width: calc(100% - 40px);
    border-top: 1px solid #272727;
}
.nav a:hover{
    color: #20c997;
}
.external-links {
    order:2;
    flex:1;
    text-align: right;
}
.external-links a{
    margin: 0.5rem 0.5rem;
    display: inline-block;
}
.external-links a:hover{
    color: red;
}   
.menu-button {
    order: 3;
    color: white;
    background: transparent;
    border: none;
}
.menu-button:hover {
    cursor: pointer;
}

.profile-picture {
    display: none;
}

.main {
    height: 3000px;

}

.hidden {
    display: none !important;
}



@media (min-width:1024px) {
    .menu {
        position: fixed;
        left:0;
        height: 100vh;
        width: 240px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
    .main {
        margin-left: 240px;

    }
    .profile-picture {
        display: block;
    }

    .profile {
        order: 1;
        margin-top: 2rem;
        text-align: center;
    }
    .profile-name{
        margin-top: 1rem;
    }

    .nav {
        order: 2;
        flex:1;
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: auto !important;
    }
    .nav ul {
        width: 100%;
        text-align: center;
    }
    .nav a{
        border-top: none;
        padding: 1rem;
    }
    .external-links {
        order: 3;
        text-align: center;
        flex:none
    }

    .menu-button {
        order: 4;
        display: none;
    }
    .external-links {
        padding: 0.5rem;
    }
}

* {
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

